bin/
bin_test/
*.log
target/
/.project
.polyglot.*
pom.tycho
.DS_Store
/xdg-runtime-*
/binaries/org.eclipse.swt.*/src/
tmpdir/
# temp build script used by copilot instructions: https://github.com/eclipse-platform/eclipse.platform.swt/blob/master/.github/workflows/copilot-setup-steps.yml
/build
/build_binaries.sh
/build_binaries.bat
